.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.book-card {
  cursor: pointer;
  background-color: #444; /* Dark gray background for cards */
  color: #fff;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  border: 1px solid #333; /* Dark gray border */
  border-radius: 5px;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  max-width: 100%;
  max-height: 150px;
}

.book-card h3 {
  margin: 10px 0;
}

.book-card p {
  font-size: 14px;
}
/* Mobile styles using media queries */
@media only screen and (max-width: 768px) {
  .book-grid {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}
